body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 18px;
}
.text-color{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.image-size{
    height: 38px;
    width: 38px;
}
.common-edit{
    color: #999;
}
.menus{
    margin: 15px 0;
}
.menus .icon{
     padding-left: 15px;
     color: #999;
     cursor: pointer;
 }
.menus .active{
    color: #155faa;
}
.icon:hover{
    color: #155faa;
}
.second-comment{
    border: 1px solid #999;
    padding: 15px;
    border-radius: 10px;
}

